{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


<div class="container-fluid w-50" style="background-color: white; padding: 3%; margin: 3%;">
    <h3>Update Supplier</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            {{form.name}}
        </div>
        <div class="mb-3">
            <label class="form-label">Contact</label>
            {{form.contact}}
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            {{form.description}}
        </div>
        
        <button type="submit" class="btn btn-dark" name="submit_type" value="update">Update</button>
        <button type="submit" class="btn btn-dark" name="submit_type" value="delete">Delete</button>
    </form>

{% endblock %}