body{
   background-color: #F3F1F5;
}

.table-responsive {
    max-height:300px;    
}
.table-box{
    height: 300px;
    background-color: white;
    padding: 2%;
}

.header{
  background-color: bisque;
  position: sticky;
  top: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.box{
    margin-top: 2%;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}